body {
  background-color: #f6f6f6;
}

.heading {
  font-size: 2rem;
  padding: 4%;
}

.icon-design {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-right: 3%;
}

i {
  color: grey;
  cursor: pointer;
}

i:hover {
  color: #f00;
}

.hidden {
  display: none;
}

.container {
  border: 2px solid #e9e9e9;
  background: #fff;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.align {
  align-self: center;
}

.design {
  border-bottom: 1px solid #d0d7de;
}

.check-completed {
  width: 10%;
}

.check-completed:checked + .label {
  text-decoration: line-through;
}

.input-design {
  padding: 3%;
}

input {
  border: none;
  padding: 3%;
  width: 80%;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-style: italic;
  color: #a6a6a6;
}

.check-div {
  padding: 3%;
  display: flex;
  flex: 3;
}

.clear {
  text-align: center;
  color: #a6a6a6;
  font-size: 1.2rem;
}
